@tailwind base;
@tailwind components;
@tailwind utilities;

/* Forzamos un estilo base limpio */
html, body {
  margin: 0;
  padding: 0;
  background-color: #FDFBF7; /* wellness-beige */
  color: #4A403A; /* wellness-text */
  scroll-behavior: smooth;
}